<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v11.html' %}
<!--
In /views/layout.html you can:
- change the header and footer
- add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Mental health inpatient discharge - Standards directory
{% endblock %}

<!-- For adding a backlink -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v11/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v11/browse-all">Published standards</a></li>
      <li class="nhsuk-breadcrumb__item">Common User Interface (CUI) standards</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->

    <h1>
      Common User Interface (CUI) standards
    </h1>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <p class="nhsuk-u-font-size-16">Record, design and lay out common items such as addresses, dates, times, names and NHS numbers for display on screen.</p>


    <h2 class="nhsuk-heading-m">About this standard</h2>
    <table class="nhsuk-table ">
      <tbody class="nhsuk-table__body ">


        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Owner</td>
          <td class="nhsuk-table__cell nhsuk-u-font-size-16">NHS Digital
          </td>
        </tr>
<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Status</td>
  <td class="nhsuk-table__cell nhsuk-u-font-size-16">
    <strong class="nhsuk-tag nhsuk-tag--orange">Deprecated</strong>
    <!--  -->
    <br><br>
    {% include "includes/details-status-u.html" %}
<!--  -->
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Standard type</td>
  <td class="nhsuk-table__cell nhsuk-u-font-size-16">
    Electronic records
<!--  -->
<br><br>
{% include "includes/details-type-u.html" %}
<!--  -->
</td>
</tr>
<!--  -->
<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Date deprecated</td>
  <td class="nhsuk-table__cell nhsuk-u-font-size-16">
    4 July 2019
    </td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Reason for deprecation</td>
    <td class="nhsuk-table__cell nhsuk-u-font-size-16">
      The nine Common User Interface standards were approved by the Information Standards Board (ISB) in 2010 to allow for a common interface for healthcare IT systems.
<br><br>
The standards are now out of date, and should not be relied on for interface design; and the Data Coordination Board approved the deprecation of these standards in June 2019, with formal retirement of the standards scheduled for June 2020.
      </td>
    </tr>
<!--  -->
<!-- <tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Documentation</td>
  <td class="nhsuk-table__cell nhsuk-u-font-size-16">

    <p class="nhsuk-table__cell nhsuk-u-font-size-16"><a href="https://digital.nhs.uk/data-and-information/information-standards/information-standards-and-data-collections-including-extractions/publications-and-notifications/standards-and-collections/scci2075-assessment-discharge-and-withdrawal-notices-between-hospitals-and-social-services" target="_blank">View documentation for this standard</a>
      <br>(opens in new window)</p>
    </td>
  </tr> -->
  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Contact details</td>
    <td class="nhsuk-table__cell nhsuk-u-font-size-16"><a href="mailto:standards.assurance@nhs.net">standards.assurance@nhs.net</a></td>
  </tr>
</tbody>
</table>

<!--  -->
<h2 class="nhsuk-heading-m">Link to standard</h2>
<table class="nhsuk-table ">
  <tbody class="nhsuk-table__body ">


    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Documentation</td>
      <td class="nhsuk-table__cell nhsuk-u-font-size-16">
        <p class="nhsuk-table__cell nhsuk-u-font-size-16"><a href="https://digital.nhs.uk/data-and-information/information-standards/information-standards-and-data-collections-including-extractions/publications-and-notifications/standards-and-collections/scci2075-assessment-discharge-and-withdrawal-notices-between-hospitals-and-social-services" target="_blank">View documentation for this standard on the owner's website (opens in new window)</a></p>
      </td>
    </tr>

  </tbody>
</table>
<!--  -->

<h2 class="nhsuk-heading-m">Topics and care settings</h2>
<table class="nhsuk-table ">
  <tbody class="nhsuk-table__body ">


    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Topic</td>
      <td class="nhsuk-table__cell nhsuk-u-font-size-16"><ul class="nhsuk-list-bullet nhsuk-u-font-size-16">
        <li>Continuity of care (TOC)</li>
      </ul></td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Care setting</td>
      <td class="nhsuk-table__cell nhsuk-u-font-size-16">
        <ul class="nhsuk-list-bullet nhsuk-u-font-size-16">
          <li>Hospital</li>
          <li>Patient</li>
        </ul>
      </td>
    </tr>

  </tbody>
</table>

<h2 class="nhsuk-heading-m">Dependencies and related standards</h2>
<table class="nhsuk-table ">
  <tbody class="nhsuk-table__body ">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Dependencies</td>
      <td class="nhsuk-table__cell nhsuk-u-font-size-16">
        None specified
      </td>

    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Related standards</td>
      <td class="nhsuk-table__cell nhsuk-u-font-size-16">
        None specified
      </td>
    </tr>

  </tbody>
</table>

<!--  -->
<h2 class="nhsuk-heading-m">Assurance and endorsements</h2>
<table class="nhsuk-table ">
  <tbody class="nhsuk-table__body ">


    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Quality assurance</td>
      <td class="nhsuk-table__cell nhsuk-u-font-size-16">This standard has been approved by the
        Standardisation Committee for Care Information and published as an information standard notice (ISN).
      </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Reference code for standards issued as requirements in England</td>
        <td class="nhsuk-table__cell nhsuk-u-font-size-16">ISB 1500-1508
        </td>
        </tr>

      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Endorsements</td>
        <td class="nhsuk-table__cell nhsuk-u-font-size-16">
          None specified

        </td>
      </tr>
    </tbody>
  </table>
{% include "includes/was-this-page-useful.html" %}



<!--  -->



<!--  -->

</div>
<!--  -->
<div class="nhsuk-grid-column-one-third">
  {% include "includes/subscribe-standard.html" %}

</div>
<!--  -->
</div>





{% endblock %}
