<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

<div class="nhsuk-form-group">
<label class="nhsuk-label" for="example-heading">
  Select care settings
</label>

<div class="nhsuk-hint" id="example-with-hint-text-hint">
  Select all that apply
</div>
<!-- start one-third -->
<div class="nhsuk-grid-column-one-third">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-1" name="organisation" type="checkbox" value="Community">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-1">
            Community health
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-3" name="organisation" type="checkbox" value="Pharmacy">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-3">
            Dentistry
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
            Hospital
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
            GP/Primary care
          </label>
        </div>

      </div>
    </fieldset>
  </div>
</div>
<!-- end one-third -->
<div class="nhsuk-grid-column-one-third">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-5" name="organisation" type="checkbox" value="Dentistry">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-5">
            Maternity
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-6" name="organisation" type="checkbox" value="Mental-health">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-6">
            Mental health
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-7" name="organisation" type="checkbox" value="GP">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-7">
            Patient
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-7" name="organisation" type="checkbox" value="GP">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-7">
            Pharmacy
          </label>
        </div>

      </div>
    </fieldset>
  </div>
</div>

<!-- end one-third -->
<div class="nhsuk-grid-column-one-third">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-9" name="organisation" type="checkbox" value="Hospital">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-9">
            Social care
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-10" name="organisation" type="checkbox" value="Patient">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-10">
            Transport/<br>Infrastructure
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-11" name="organisation" type="checkbox" value="Transport">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-11">
            Urgent and emergency care
          </label>
        </div>

      </div>
    </fieldset>
  </div>
</div>

<!--  -->
</div>
</div>
</div>
