<h2>Standard owner</h2>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend">
    <h1 class="nhsuk-fieldset__heading">
      Select owner
    </h1>
  </legend>

  <div class="nhsuk-hint nhsuk-u-margin-bottom-2">
    This is the organisation that developed the standard
  </div>

  <div class="nhsuk-form-group">

    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
          DICOM
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
          HL7 UK
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
          NHS Digital
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
          Professional Records Standards Body
        </label>
      </div>

    </div>
  </div>

</fieldset>

<!--  -->
<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example-heading">
    Enter email address
  </label>

  <div class="nhsuk-hint" id="example-with-hint-text-hint">
    This is the standard owner's email, for example, support@theprsb.org
  </div>
  <input class="nhsuk-input nhsuk-input--width-20" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example-heading">
    Enter link to documentation
  </label>

  <div class="nhsuk-hint" id="example-with-hint-text-hint">
    This should be to a web page, not a PDF. For example, https://theprsb.org/standards/mentalhealth. If not available, leave blank.
  </div>
  <input class="nhsuk-input nhsuk-input--width-40" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">
</div>
