<div class="nhsuk-form-group">

  <div class="nhsuk-radios">

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="yes">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
        Proposed
      </label>
    </div>

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="no">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
        Draft in progress
      </label>
    </div>

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
        Awaiting approval
      </label>
    </div>

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-4" name="example-hints" type="radio" value="not sure">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-4">
        On hold
      </label>
    </div>

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-5" name="example-hints" type="radio" value="not sure">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-5">
        Cancelled
      </label>
    </div>



    </div>
  </div>
