<h3>Assurance and endorsements</h3>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example-heading">
    Enter reference code
  </label>

  <div class="nhsuk-hint" id="example-with-hint-text-hint">
    Give the ISN number for standards approved by the DAPB. For example, ISB0000. If no reference code, leave blank.
  </div>
  <input class="nhsuk-input nhsuk-input--width-40" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Enter assurance details
  </label>
  <div class="nhsuk-hint" id="example-hint">
    Give details of this standard's quality assurance.
  </div>

  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Show example wording
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p><strong>DAPB-approved standards:</strong> This standard has been approved by Data Alliance Partnership Board and published as an information standard notice (ISN).</p>
<p><strong>APIs:</strong> The NHS Digital API Catalogue uses a development process based on GDS agile delivery. You can find out more about how they develop APIs, technical standards and specifications in their reference guide.</p>



    </div>
  </details>

  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
  <div style="background-color:#d8dde0; padding:6px;">
    <span class="nhsuk-u-font-size-16 secondary-text">You can use <a href="#">markdown formatting</a> here</span></div>
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Enter endorsements
  </label>
  <div class="nhsuk-hint" id="example-hint">
    Include the names of medical or other relevant organisations that endorse this standard such as the royal colleges. Format as a bulleted list. If not applicable, leave blank.
  </div>
  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
  <div style="background-color:#d8dde0; padding:6px;">
    <span class="nhsuk-u-font-size-16 secondary-text">You can use <a href="#">markdown formatting</a> here</span></div>
</div>
