<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Set visibility
      </h1>
    </legend>

    <div class="nhsuk-hint" id="contact-hint">
      Set to public to make this standard visible on the website
    </div>

    <div class="nhsuk-radios nhsuk-radios--inline">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="private" name="visibility" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="private">
          Private
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="public" name="visibility" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="public">
          Public
        </label>
      </div>

    </div>

  </fieldset>
</div>
