<h3>Dependencies and related standards</h3>
<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Enter dependencies
  </label>
  <div class="nhsuk-hint" id="example-hint">
    List any dependencies to this standard, for example the NHS Data Model and Dictionary. Format as a bulleted list and include links. If no dependencies, leave blank.
  </div>
  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
  <div style="background-color:#d8dde0; padding:6px;">
    <span class="nhsuk-u-font-size-16 secondary-text">You can use <a href="#">markdown formatting</a> here</span></div>
</div>


<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Enter related standards
  </label>
  <div class="nhsuk-hint" id="example-hint">
    List any related standards, for example, where record standards have corresponding technical standards or if this standard is part of a set. Format as a bulleted list and include links. If no related standards, leave blank.
  </div>
  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
  <div style="background-color:#d8dde0; padding:6px;">
    <span class="nhsuk-u-font-size-16 secondary-text">You can use <a href="#">markdown formatting</a> here</span></div>
</div>
