<h2>About this standard</h2>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example-heading">
    Enter title
  </label>

  <div class="nhsuk-hint" id="example-with-hint-text-hint">
    For example, National Waiting Times Data Set
  </div>
  <input class="nhsuk-input nhsuk-input--width-40" id="example-with-hint-text" name="example-with-hint-text" type="text" value="Electronic Yellow Card Reporting" aria-describedby="example-with-hint-text-hint" inputmode="numeric">
</div>

<label class="nhsuk-label" for="example-heading">
  URL
</label>
<p>manage.standards.nhs.uk/dataset/<strong>electronic-yellow-card-reporting</strong></p>

<button class="nhsuk-button nhsuk-button--secondary" type="submit">
  Edit
</button>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Enter description
  </label>
  <div class="nhsuk-hint" id="example-hint">
    This should usually be no more than 30 words
  </div>
  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint">Collect reports of suspected adverse drug reactions via the Yellow Card Scheme.</textarea>
  <div style="background-color:#d8dde0; padding:6px;">
    <span class="nhsuk-u-font-size-16 secondary-text">You can use <a href="#">markdown formatting</a> here</span></div>
</div>
<!--  -->
<form>

  <div class="nhsuk-form-group">

    <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
      <legend class="nhsuk-fieldset__legend">
        <h1 class="nhsuk-fieldset__heading">
          Select standard type
        </h1>
      </legend>

      <div class="nhsuk-hint" id="contact-hint">
        Select all that apply
      </div>

      <div class="nhsuk-checkboxes">

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
            Data definitions and terminologies
          </label>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
            Information codes of practice
          </label>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" checked="checked" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
            Record standards
          </label>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
            Technical standards and specifications
          </label>
        </div>

      </div>
    </fieldset>
  </div>
</form>
