<div class="nhsuk-form-group">

  <div class="nhsuk-radios">

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-a" name="example-status" type="radio" value="yes">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-a">
        Proposed
      </label>
    </div>

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-b" name="example-status" type="radio" value="no">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-b">
        Draft in progress
      </label>
    </div>

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-c" name="example-status" type="radio" checked="checked" value="not sure">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-c">
        Awaiting approval
      </label>
    </div>

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-d" name="example-status" type="radio" value="not sure">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-d">
        On hold
      </label>
    </div>

    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-hints-e" name="example-status" type="radio" value="not sure">
      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-e">
        Cancelled
      </label>
    </div>



    </div>
  </div>
