<h2>Additional tags</h2>
<p>For internal use. Tags make it easier to find similar standards quickly.</p>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example-heading">
    Add additional tags
  </label>

  <div class="nhsuk-hint" id="example-with-hint-text-hint">
For example, 'Future standards' or 'FHIR'
  </div>
  <input class="nhsuk-input nhsuk-input--width-40" id="example-with-hint-text" name="example-with-hint-text" type="text" value="Future standards" aria-describedby="example-with-hint-text-hint" inputmode="numeric">
</div>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Show tags already in use
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <strong class="nhsuk-tag nhsuk-tag--grey">
 Active
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
API catalogue
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Approved - legacy board
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Broken link
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Central APIs for national services
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Data definitions and terminologies
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
DAPB approved
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Future standards
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
HL7
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Information codes of practice
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Private
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Record standards
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Scotland
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Status - deprecated
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Status - in development
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Status - retired
</strong>

<strong class="nhsuk-tag nhsuk-tag--grey">
Technical standards and specifications
</strong>
<strong class="nhsuk-tag nhsuk-tag--grey">
Under review
</strong>

  </div>
</details>
