<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
<div class="nhsuk-form-group">
<label class="nhsuk-label" for="example-heading">
  Select topics
</label>
<!-- <h3>Select topics</h3> -->
<div class="nhsuk-hint" id="example-with-hint-text-hint">
  Select all that apply
</div>
<!-- start one-third -->
<div class="nhsuk-grid-column-one-third">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-1" name="organisation" type="checkbox" value="Community">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-1">
            Appointment/<br>scheduling
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-3" name="organisation" type="checkbox" value="Pharmacy">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-3">
            Referrals
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
            Access to records
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
            Clinical decision support
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
            Continuity of care (ToC)
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" checked="checked" value="Social">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
            Demographics
          </label>
        </div>

      </div>
    </fieldset>
  </div>
</div>
<!-- end one-third -->
<div class="nhsuk-grid-column-one-third">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-5" name="organisation" type="checkbox" value="Dentistry">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-5">
            Key care information
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-6" name="organisation" type="checkbox" value="Mental-health">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-6">
            Prescribing
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-7" name="organisation" type="checkbox" value="GP">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-7">
            Dispensing
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-7" name="organisation" type="checkbox" value="GP">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-7">
            Vaccination
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-7" name="organisation" type="checkbox" value="GP">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-7">
            Messaging
          </label>
        </div>

      </div>
    </fieldset>
  </div>
</div>

<!-- end one-third -->
<div class="nhsuk-grid-column-one-third">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-9" name="organisation" type="checkbox" value="Hospital">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-9">
            Patient communication
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-10" name="organisation" type="checkbox" checked="checked" value="Patient">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-10">
            Reference data
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-11" name="organisation" type="checkbox" value="Transport">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-11">
            Information governance
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-11" name="organisation" type="checkbox" value="Transport">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-11">
            Security
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="care-11" name="organisation" type="checkbox" value="Transport">
          <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-11">
            Tests and diagnostics
          </label>
        </div>

      </div>
    </fieldset>

  </div>
</div>

<!--end topic  -->
</div>
</div></div>
