<details class="nhsuk-details nhsuk-u-font-size-16">
<summary class="nhsuk-details__summary">
<span class="nhsuk-details__summary-text">
Show definitions of standard types 
</span>
</summary>
<div class="nhsuk-details__text">

  <p class="nhsuk-u-font-size-16"><strong>Record standards</strong> define what information to collect in a given scenario and how to format it consistently, for example when registering a new patient.<br><br>
  <strong>Technical standards and specifications</strong> specify how to make information available technically including how the data is structured and transported, its architecture and associated protocols.<br><br>
  <strong>Data definitions and terminologies </strong> define the format of specific data items in ways that allow them to be consistently represented. Labelling of medicines or formatting of dates of birth are examples. This category also includes reference sets and controlled lists.<br><br>
  <strong>Information codes of practice</strong> are legal requirements or best practice for how information should be processed, protected and shared.<br>
  </p>

</div>
</details>
