<details class="nhsuk-details nhsuk-u-font-size-16">
<summary class="nhsuk-details__summary">
<span class="nhsuk-details__summary-text">
Show definitions of statuses
</span>
</summary>
<div class="nhsuk-details__text">

<p class="nhsuk-u-font-size-16">Standards that are <strong>proposed</strong> are suggestions for new standards where there is a clear gap but no further work has been done, such as identifying a lead developer.<br><br>
Standards that are <strong>draft in progress</strong> are in the process of being developed or consulted on by the lead developer.<br><br>
Standards that are <strong>awaiting approval </strong> have finalised documentation and are being quality checked by the Data Alliance Partnership Board.<br><br>
Standards that are <strong>on hold</strong> have been paused but are expected to resume in the future.<br><br>
Standards that have been <strong>cancelled</strong> are no longer being considered for publication as an Information Standard Notice.
</p>
</div>
</details>
