<details class="nhsuk-details nhsuk-u-font-size-16">
<summary class="nhsuk-details__summary">
<span class="nhsuk-details__summary-text">
Show definitions of statuses
</span>
</summary>
<div class="nhsuk-details__text">
<p class="nhsuk-u-font-size-16"><strong>Active standards</strong> are stable, maintained and have been assured or endorsed for use by qualified bodies.<br><br>
Standards <strong>in development</strong> are APIs in alpha or beta, meaning they are available for use but are still in progress and may change.<br><br>
<strong>Deprecated standards</strong> are older versions of a standard which are being phased out.<br><br>
<strong>Retired standards</strong> are not being maintained and should not be used.<br>
</p>
</div>
</details>
