
<!--  -->
<h2>Select care settings or topics</h2>
<h3>Select care settings</h3>
<!-- start quarter 1 -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-1" name="organisation" type="checkbox" value="Community">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-1">
                Community health
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-3" name="organisation" type="checkbox" value="Pharmacy">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-3">
                Mental health
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
                Social care
              </label>
            </div>

          </div>
        </fieldset>
      </div>
    </div>
    <!-- end one-quarter 1 -->
    <div class="nhsuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-5" name="organisation" type="checkbox" value="Dentistry">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-5">
                Dentistry
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-6" name="organisation" type="checkbox" value="Mental-health">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-6">
                Patient
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-7" name="organisation" type="checkbox" value="GP">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-7">
                Transport / Infrastructure
              </label>
            </div>

          </div>
        </fieldset>
      </div>
    </div>

    <!-- end one-quarter 2 -->
    <div class="nhsuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-9" name="organisation" type="checkbox" value="Hospital">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-9">
                Hospital
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-10" name="organisation" type="checkbox" value="Patient">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-10">
                Pharmacy
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-11" name="organisation" type="checkbox" value="Transport">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-11">
                Urgent and emergency care
              </label>
            </div>

          </div>
        </fieldset>
      </div>
    </div>
    <!-- end one-quarter 3 -->
    <div class="nhsuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="care-2" name="organisation" type="checkbox" value="Maternity">
        <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-2">
          Maternity
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="care-2" name="organisation" type="checkbox" value="Maternity">
        <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-2">
          GP / Primary care
        </label>
      </div>


    </div>
  </fieldset>
</div>
</div>
<!-- end one-quarter 4 -->
</div>
<!--  -->

<h3>Select topics</h3>
<div class="nhsuk-grid-row">
<!-- start quarter 1 -->
    <div class="nhsuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-1" name="organisation" type="checkbox" value="Community">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-1">
                Appointment
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-3" name="organisation" type="checkbox" value="Pharmacy">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-3">
                Referrals
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
                Access to records
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
                Patient communication
              </label>
            </div>

          </div>
        </fieldset>
      </div>
    </div>
    <!-- end one-quarter 1 -->
    <div class="nhsuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-5" name="organisation" type="checkbox" value="Dentistry">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-5">
                Clinical decision support
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-6" name="organisation" type="checkbox" value="Mental-health">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-6">
                Continuity of care (ToC)
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-7" name="organisation" type="checkbox" value="GP">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-7">
                Demographics
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
                Reference data
              </label>
            </div>

          </div>
        </fieldset>
      </div>
    </div>

    <!-- end one-quarter 2 -->
    <div class="nhsuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-9" name="organisation" type="checkbox" value="Hospital">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-9">
                Key care information
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-10" name="organisation" type="checkbox" value="Patient">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-10">
                Prescribing
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-11" name="organisation" type="checkbox" value="Transport">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-11">
                Dispensing
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
                Information governance
              </label>
            </div>

          </div>
        </fieldset>
      </div>
    </div>
    <!-- end one-quarter 3 -->
    <div class="nhsuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="care-2" name="organisation" type="checkbox" value="Maternity">
        <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-2">
          Vaccination
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="care-2" name="organisation" type="checkbox" value="Maternity">
        <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-2">
          Messaging
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
        <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
          Security
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
        <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
          Tests and diagnostics
        </label>
      </div>


    </div>
  </fieldset>
</div>
</div>
<!-- end one-quarter 4 -->
</div>
<!-- end grid row -->
<br>
<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="input-width-20">
    Enter email address
  </label>
  <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
</div><br>
<a href="check-email-2" class="nhsuk-button">Continue</a>
